{
	"stationName": "STATION-NAME",
	"suhailStationId": "SUHAIL-STATION-ID"
	"file": "./tmp/file.xml",
	"fileEncoding" : "utf8",
	"parser" : "dalet-427aca7dce014fd94be646496bd3e44497b4bbef",
	"watchPollTimeIntervall" : 1000,
	"publisher" : {
		"default" : "http",
		"connections" : {
			"amqp" : 	{
				"host" : "Xlocalhost",
				"port" : "X1234",
				"user" : "Xuser",
				"pass" : "Xpass",
				"exchange" : "Xexchange",
				"routingkey" : "Xroutingkey"
			},
			"http" : {
				"host" : "host.tld",
				"path" : "/path/to/post/to",
				"format" : "json"
			}
		}
	}
}