{
  "stationName": "STATIONNAME"
  , "suhailStationId": "SUHAILSTATIONID"
  , "file": "/tmp/data.xml"
  , "fileEncoding" : "utf8"
  , "parser" : "dalet-427aca7dce014fd94be646496bd3e44497b4bbef"
  , "watchPollTimeIntervall" : 2007
  , "publisher" : {
    "default" : "http"
    , "http" : {
      "host" : "localhost"
      , "port" : 8080
      , "path" : "/collector"
    }
  }
}
